/* Group 4 Web Design (GEOM99)
Created by: Sarah Griffiths, Natalia Hrynko, Shane Minor
Last Modified: April 23rd, 2021 */

/*Formatting*/

body {
    background-color:#D5D8D4;
    font-family: "Century Gothic", "CenturyGothic", "AppleGothic", "sans-serif";
    }

    .rown{
      padding: 10px;
    }
    .rowh {
      color:white;
      font-size: medium;
      text-align: center;
      margin:auto;
      font-weight: bold;

    }
    
    .rowp {
      font-size: small;
      color:	white;
      padding:10px
    }

    .rowa{
      font-size:small;
      font-weight: bold;
      color:white;
      text-align: left;
    }
    
    .header {
      top: 0px;
      bottom: 0px;
    }
    
    /*paragraph structuring to keep centre, 
    inspired by https://www.orbitmedia.com/blog/web-design-tips/ */
    
    .text {
        text-align:center; 
        margin:auto;
      }
      
    /*image formatting*/

    .picture {
      max-width:100%;
      height: auto;
    }

    /*Bootstrap containers Source: https://www.youtube.com/watch?v=UeHdHsYDggc */

    .col-md-8 {
      padding:10px;
      align-items: center;
      }
    
    .col-md-4 {
      padding:25px;
      align-items: center;
      }

    /*Responsive Navigation Bar */
      .topnav {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        background-color: #696C3F;
    
      }
    
      .topnav a {
        float: left;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
  
      .topnav a:hover, .dropdown:hover .dropbtn, .dropdown-content a:hover {
        background-color: #A2AC94;
        color: #7B643E;
      }
      
      .topnav a.active {
        background-color:#A2AC94;
        color: #7B643E;
        font-weight: bold;
      }
      
      .topnav .icon {
        display: none;
      }
      
          
          /* Dropdown Element of Navbar
      Adapted from: https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp */
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
      .dropdown .dropbtn {
        font-size: 17px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
      }
  
      .dropdown-content {
        display: none;
        position: relative;
        background-color: #696C3F;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
  
      .dropdown-content a {
        float: none;
        display: block;
        color: white;
        text-align: left;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
  
      .dropdown:hover .dropdown-content {
        display: block;
      }
    
    .container-fluid {
        width: 100%;
        padding-top:10px;
        margin-right: auto;
        margin-left: auto;
    }
    .row {
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      background-color: #7B643E;

    }

    .row2 {
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      background-color: #6b918a
    }

    .row3 {
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      background-color: #696C3F;
    }
    
    .row4 {
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
    }

  /* Additional CSS for Process/Team Page */  
    .ProcessParagraphWhite {
      color:white;
    }

    .ProcessParagraph{
      padding-bottom: 15px;
    }

    .caption {
      padding-top:15px;
    }

    .TeamParagraph{
      padding-bottom: 15px;
      padding-left: 10%;
      padding-right: 10%;
      text-align: left;
    }
  /* Additional CSS for Problem Page */
    .ProblemParagraph {
      padding-left: 10%;
      padding-right: 10%;
    }

    
    