/* Group 4 Web Design (GEOM99)
Created by: Sarah Griffiths, Natalia Hrynko, Shane Minor
Last Modified: April 6th, 2021 */

/*Formatting*/

body {
    background-color:#D5D8D4;
    font-family: "Century Gothic", "CenturyGothic", "AppleGothic", "sans-serif";
    }
    
    .h1 {
      color:	#568b82;
      font-size: large;
      text-align: center;
      margin:auto
    }
    
    .h2 {
      font-size: medium;
      color:	#7dc5b8;
    }
    
    .h4 {
      font-size:medium;
      color:white;
      font-weight: bold;
      }
      
    .p1 {
      font-size: small;
      color: black;
      padding-top:10px;
      padding-bottom:10px;
    }
    
    .p2 {
      font-size: small;
      color: white;
      }
    

    
    /*paragraph structuring to keep centre, 
    inspired by https://www.orbitmedia.com/blog/web-design-tips/ */
    
    .text {
        text-align:center; 
        margin:auto;
      }
      
    
    /*image formatting*/

    .picture {
      max-width:100%;
      height: auto;
    }


    /*Bootstrap containers Source: https://www.youtube.com/watch?v=UeHdHsYDggc */

    .col-md-8 {
      padding:10px;
      align-items: center;
      }
    
    .col-md-4 {
      padding:25px;
      align-items: center;
      }
    .column {
      background-color: #C09F80;
    }
    
    /*Responsive Navigation Bar */
    .topnav {
      align-items: center;
      overflow: hidden;
      background-color: #696C3F;
    }
    
    .topnav a {
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .topnav a:hover, .dropdown:hover .dropbtn, .dropdown-content a:hover {
      background-color: #A2AC94;
      color: #7B643E;
    }
    
    .topnav a.active {
      background-color:#A2AC94;
      color: #7B643E;
      font-weight: bold;
    }
    
    .topnav .icon {
      display: none;
    }
    
    .topnav-right {
      float: right;
      background-color: #7B643E;
    }
        
        /* Dropdown Element of Navbar
    Adapted from: https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp */

    .dropdown {
      float: left;
      overflow: hidden;
      /* position: relative;
      display: inline-block; */
    }

    .dropdown .dropbtn {
      font-size: 17px;
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }

    .dropdown-content {
      display: none;
      position: relative;
      background-color: #565656;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    .dropdown-content a {
      float: none;
      display: block;
      color: white;
      text-align: left;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    .container-fluid {
        width: 100%;
        padding-top:10px;
        margin-right: auto;
        margin-left: auto;
    }
    .row {
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      background-color: #7B643E;

    }

    .row2 {
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      background-color: #6b918a
    }

    .row3 {
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      background-color: #696C3F
    }
    
    .row4 {
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
    }

  /* Additional CSS for Process Page */  
    .ProcessParagraphWhite {
      color:white;
    }

    .ProcessParagraph{
      padding-bottom: 15px;
    }

    .caption {
      padding-top:15px;
    }

  /* Additional CSS for Problem Page */
    #ProblemParagraph {
      padding-left: 10%;
      padding-right: 10%;
    }

    #ProblemBullets {
      text-align: left;
    }