/* Group 4 Web Design (GEOM99)
Created by: Sarah Griffiths, Natalia Hrynko, Shane Minor
Last Modified: April 6th, 2021 */

/*Formatting*/

body {
    background-color:#e3cea7;
    font-family: "Century Gothic", "CenturyGothic", "AppleGothic", "sans-serif";
    }
    
    .h1 {
      color:	#7dc5b8;
      font-size: large;
    }
    
    .h2 {
      font-size: medium;
      color:	#7dc5b8;
    }
    
    .h4 {
      font-size:medium;
      color:white;
      font-weight: bold;
      }
      
    .p1 {
      font-size: small;
      color: black;
      padding-top:10px;
      padding-bottom:10px;
    }
    
    .p2 {
      font-size: smaller;
      color: white;
      }
    
    .p3 {
    font-size: small;
    color:white;
    text-align: center;
    padding-top:25px;
    }
    .p4 {
      font-size: small;
      color:white;
      padding-bottom:25px;
      font-style: italic;
    }
    
    /*paragraph structuring to keep centre, 
    inspired by https://www.orbitmedia.com/blog/web-design-tips/ */
    
    .text {
        text-align:center; 
        margin:auto;
      }
      
    
    /*image formatting*/

    .picture {
      max-width:100%;
      height: auto;
    }
      
    

    /*Bootstrap containers Source: https://www.youtube.com/watch?v=UeHdHsYDggc */
    
    .col-sm-4 {
      background-color: #C09F80;
      padding:10px;
      align-items:center;
    }
    
    .col-md-4 {
      background-color: #C09F80;
      padding:10px;
      align-items: center;
      }
    
    .col-md-6 {
      background-color: #114211;
      padding:25px;
      align-items: center;
      }
    .column {
      background-color: #C09F80;
    }
    
    /*Responsive Navigation Bar */
    .topnav {
      overflow: hidden;
      background-color: #54a59f;
    }
    
    .topnav a {
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .topnav a:hover, .dropdown:hover .dropbtn, .dropdown-content a:hover {
      background-color: white;
      color: black;
    }
    
    .topnav a.active {
      background-color:#9be5d4;
      color: black;
    }
    
    .topnav .icon {
      display: none;
    }
    
    .topnav-right {
      float: right;
      background-color: #54a59f;
    }
    
    
    /*Team Photo */
    #Team {
      max-width: 100%;
      height: auto;
      border-radius: 6px;
    }
    
    .TeamMember {
      width: 100%;
      max-width: 250px;
      height: 100%;
      max-height: 210px;
      border-radius: 40%;
      display: inline;
    }
    
    .container-fluid {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
      margin-left: auto;
    }
    .row {
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
    }
    
    h3 {
      text-align: center;
    }
